n8n-workflows/core/safety-validator.json
{
  "name": "SADIE Safety Validator",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Load safety rules\nconst fs = require('fs');\nconst rulesPath = 'C:/Users/adenk/Desktop/sadie/config/safety-rules.json';\nconst safetyRules = JSON.parse(fs.readFileSync(rulesPath, 'utf8'));\n\nconst toolCall = $input.item.json.tool_call;\nconst toolName = toolCall.tool_name;\nconst params = toolCall.parameters;\n\nconst violations = [];\nconst warnings = [];\n\n// File operation validation\nif (toolName === 'file_manager') {\n  const filePath = params.file_path || params.directory_path || '';\n  \n  // Check allowed paths\n  const isAllowed = safetyRules.file_operations.allowed_paths.some(allowed => \n    filePath.toLowerCase().includes(allowed.toLowerCase())\n  );\n  \n  if (!isAllowed) {\n    violations.push(`Path \"${filePath}\" is not in allowed directories`);\n  }\n  \n  // Check blocked paths\n  const isBlocked = safetyRules.file_operations.blocked_paths.some(blocked => \n    filePath.toLowerCase().includes(blocked.toLowerCase())\n  );\n  \n  if (isBlocked) {\n    violations.push(`Path \"${filePath}\" is in blocked system directories`);\n  }\n  \n  // Check file extensions\n  const ext = filePath.split('.').pop();\n  if (safetyRules.file_operations.blocked_extensions.includes(`.${ext}`)) {\n    violations.push(`File extension \".${ext}\" is blocked for security`);\n  }\n  \n  // Check if confirmation required\n  const requiresConfirm = ['delete_file', 'move_file', 'write_file'].includes(params.action);\n  if (requiresConfirm && !params.user_confirmed) {\n    warnings.push('This action requires user confirmation');\n  }\n}\n\n// Email operation validation\nif (toolName === 'email_manager') {\n  if (params.action === 'send_email' && !params.user_confirmed) {\n    warnings.push('Email sending requires user confirmation');\n  }\n  \n  // Check recipient domains (if configured)\n  if (params.to && safetyRules.email_operations.blocked_domains) {\n    const recipientDomain = params.to.split('@')[1];\n    if (safetyRules.email_operations.blocked_domains.includes(recipientDomain)) {\n      violations.push(`Email domain \"${recipientDomain}\" is blocked`);\n    }\n  }\n  \n  // Check attachment size\n  if (params.attachments) {\n    const totalSize = params.attachments.reduce((sum, att) => sum + (att.size || 0), 0);\n    if (totalSize > 25 * 1024 * 1024) {\n      violations.push('Attachment size exceeds 25MB limit');\n    }\n  }\n}\n\n// API operation validation\nif (toolName === 'api_tool') {\n  const url = params.url || '';\n  \n  // Only allow localhost/127.0.0.1 unless explicitly approved\n  const isLocalhost = url.includes('localhost') || url.includes('127.0.0.1');\n  const isApproved = safetyRules.api_operations.approved_domains.some(domain => \n    url.includes(domain)\n  );\n  \n  if (!isLocalhost && !isApproved) {\n    violations.push(`External API \"${url}\" is not in approved domains`);\n  }\n  \n  if (!params.user_confirmed) {\n    warnings.push('External API calls require user confirmation');\n  }\n}\n\n// System operation validation\nif (toolName === 'system_info') {\n  const blockedActions = safetyRules.system_operations.blocked_actions || [];\n  if (blockedActions.includes(params.action)) {\n    violations.push(`System action \"${params.action}\" is blocked`);\n  }\n}\n\nreturn {\n  json: {\n    tool_call: toolCall,\n    is_safe: violations.length === 0,\n    requires_confirmation: warnings.length > 0,\n    violations: violations,\n    warnings: warnings,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "validate-safety",
      "name": "Validate Safety",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_safe }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-safe",
      "name": "Is Safe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    status: 'blocked',\n    message: 'Safety violation detected',\n    violations: $input.item.json.violations,\n    tool_call: $input.item.json.tool_call\n  }\n};"
      },
      "id": "block-unsafe",
      "name": "Block Unsafe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requires_confirmation }}",
              "value2": true
            }
          ]
        }
      },
      "id": "needs-confirmation",
      "name": "Needs Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    status: 'needs_confirmation',\n    message: 'This action requires your confirmation',\n    warnings: $input.item.json.warnings,\n    tool_call: $input.item.json.tool_call,\n    confirmation_id: `confirm_${Date.now()}`\n  }\n};"
      },
      "id": "request-confirmation",
      "name": "Request Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    status: 'approved',\n    message: 'Safety checks passed',\n    tool_call: $input.item.json.tool_call\n  }\n};"
      },
      "id": "approve-execution",
      "name": "Approve Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Validate Safety", "type": "main", "index": 0 }]]
    },
    "Validate Safety": {
      "main": [[{ "node": "Is Safe?", "type": "main", "index": 0 }]]
    },
    "Is Safe?": {
      "main": [
        [{ "node": "Needs Confirmation?", "type": "main", "index": 0 }],
        [{ "node": "Block Unsafe", "type": "main", "index": 0 }]
      ]
    },
    "Needs Confirmation?": {
      "main": [
        [{ "node": "Request Confirmation", "type": "main", "index": 0 }],
        [{ "node": "Approve Execution", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T00:00:00.000Z",
  "versionId": "1"
}
