n8n-workflows/tools/system-info.json
{
  "name": "SADIE System Info Tool (Phase 6.1)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.item.json.tool_call.parameters;\nconst action = params.action || 'get_system_info';\n\n// Map n8n action names to SystemInfo.ps1 info types\nconst actionMap = {\n  'get_system_info': 'system',\n  'get_disk_usage': 'disk',\n  'get_process_list': 'processes',\n  'get_memory_info': 'memory',\n  'get_network_info': 'network',\n  'get_all_info': 'all'\n};\n\nconst mappedInfoType = actionMap[action] || 'all';\n\nreturn {\n  json: {\n    info_type: mappedInfoType,\n    params: params\n  }\n};"
      },
      "id": "parse-params",
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "powershell.exe -ExecutionPolicy Bypass -NoProfile -File \"C:\\Users\\adenk\\Desktop\\sadie\\scripts\\tools\\powershell\\SafetyValidation.ps1\" -ToolName \"system_info\" -Action \"{{ $json.info_type }}\" -Parameters @{{ $json.params | ConvertTo-Json -Compress }} -UserConfirmed $true",
        "cwd": "C:\\Users\\adenk\\Desktop\\sadie"
      },
      "id": "safety-validation",
      "name": "Safety Validation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nlet validationResult;\ntry {\n  validationResult = JSON.parse(stdout);\n} catch (e) {\n  validationResult = {\n    success: false,\n    error: 'Failed to parse safety validation output',\n    raw_output: stdout\n  };\n}\n\nif (!validationResult.success) {\n  return {\n    json: {\n      status: 'validation_failed',\n      error: validationResult.error || 'Safety validation failed',\n      validation: validationResult\n    }\n  };\n}\n\n// Continue to system info operation\nreturn {\n  json: {\n    ...$input.item.json,\n    validation: validationResult\n  }\n};"
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "powershell.exe -ExecutionPolicy Bypass -NoProfile -File \"C:\\Users\\adenk\\Desktop\\sadie\\scripts\\tools\\powershell\\SystemInfo.ps1\" -InfoType \"{{ $json.info_type }}\"{{ $json.params.top_processes ? ` -TopProcesses ${$json.params.top_processes}` : '' }}",
        "cwd": "C:\\Users\\adenk\\Desktop\\sadie"
      },
      "id": "execute-systeminfo",
      "name": "Execute SystemInfo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nlet scriptResult;\ntry {\n  scriptResult = JSON.parse(stdout);\n} catch (e) {\n  scriptResult = {\n    success: false,\n    error: 'Failed to parse SystemInfo output',\n    raw_output: stdout\n  };\n}\n\nreturn {\n  json: {\n    status: scriptResult.success ? 'success' : 'failure',\n    timestamp: scriptResult.timestamp || new Date().toISOString(),\n    operation: 'SystemInfo',\n    info_type: scriptResult.info_type || $input.item.json.info_type,\n    data: scriptResult.data || null,\n    error: scriptResult.error || null,\n    validation: $input.item.json.validation\n  }\n};"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Parse Parameters", "type": "main", "index": 0 }]]
    },
    "Parse Parameters": {
      "main": [[{ "node": "Safety Validation", "type": "main", "index": 0 }]]
    },
    "Safety Validation": {
      "main": [[{ "node": "Check Validation", "type": "main", "index": 0 }]]
    },
    "Check Validation": {
      "main": [[{ "node": "Execute SystemInfo", "type": "main", "index": 0 }]]
    },
    "Execute SystemInfo": {
      "main": [[{ "node": "Format Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T00:00:00.000Z",
  "versionId": "2"
}
